.heroSectionMain {
    /* height: 100vh; */
    width: 100%;

}

.sliderImg {
    width: 100%;
    height: 610px !important;
    position: relative;
}

.carouselIndicator {
    position: absolute;
    top: 55%;
    right: 20px;
}

.carouselIndicator ol {
    display: flex;
    flex-direction: column;
}


.carouselIndicator ol li {
    background-color: var(--bg-grey1-color);
    border: 0px;
}

.carouselIndicator ol .active {
    background-color: var(--yellow1-color) !important;
}

.heroSliderImgMain {
    position: relative;
}



.heroSliderMain {
    position: relative;
}

.heroContentMain,
.heroContentMain2,
.heroContentMain3 {
    position: relative;
    z-index: 2;
    background-image: url(../../images/homepage/heroSectionImg/heroBeach.png);
    background-repeat: no-repeat;
    height: 610px;
    width: 100%;
    margin: auto;
    color: white;
    text-align: center;
}

.heroContentMain::before,
.heroContentMain2::before,
.heroContentMain3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, var(--bg-grey3-dark-color) 0%, var(--bg-grey3-color) 100%);
    z-index: -1;
}


.heroContentMain2 {
    background-image: url(../../images/homepage/heroSectionImg/heroCars.png);
}

.heroContentMain3 {
    background-image: url(../../images/homepage/heroSectionImg/heraSea.png);
}


.heroConContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height: 100%;
    width: 70%;
}

.heroSubMainHeading {
    font-size: 42px;
    font-weight: 700;
    margin-top: 100px;

}

.heroMainHeading {
    font-size: 52px;
    position: relative;
}

.heroMark {
    position: absolute;
    top: 30px;
    right: -98px;
}

.heroContent {
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: var(--text-grey1-color);
    margin-top: 15px;
    margin-bottom: 48px;

}

@media (min-width: 1300px) {
    .heroMark {
        position: absolute;
        top: 30px;
        right: 30px;
    }
}

@media (max-width: 1200px) {

    .heroSubMainHeading,
    .heroMainHeading {
        font-size: 36px;
    }

    .heroMainHeading {
        font-size: 46px;
    }

}


@media (max-width: 992px) {

    .heroSubMainHeading,
    .heroMainHeading {
        font-size: 32px;
    }

    .heroMainHeading {
        font-size: 42px;
    }

    .heroContent {
        font-size: 15px;
        line-height: 24px;
        color: var(--text-grey1-color);
        margin-top: 10px;
        margin-bottom: 38px;
    }
}