.billContent {
  font-size: 20px;
  font-weight: 600;
  color: var(--text-grey6-color);
}

.total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 27px;
}

.totalColor {
  color: var(--white-color);
}

.bookBtn {
  margin: 43px 20px 23px;
}