.heroInput,
.heroInputDrop {
    width: 320px;
    height: 50px;
    /* font-size: 10px; */
    border-radius: 4px;
    background: var(--bg-grey2-color);
    backdrop-filter: blur(6px);
    padding: 16px 0px 15px 26px;
    border: 0px;
    font-size: 14px;
}

.heroInputBtn {
    padding: 15px 23px 15px 24px;
    border-radius: 4px;
    background: var(--yellow1-color);
    border: 0px;
    color: var(--bg-dark-color);
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
}

.heroInput::placeholder {
    color: var(--text-grey2-color);
}

.heroInputDrop {
    width: auto;
    display: inline-flex;
    padding: 13px 16px 13px 35px;
    justify-content: center;
    align-items: center;
    gap: 9.149px;
    background: var(--bg-grey3-color);
    color: var(--white-color);
}

.heroInputDropMain{
    width: auto;
    display: flex;
    justify-content: center;
}

.heroInputDropCon{
    position: relative;
}

.heroInputDropIcon{
    width: 20px !important;
    height: 20px;
    position: absolute;
    top: 15px;
    left: 10px;
    z-index: 2;
}

.heroInput:focus {
    border: 0px;
    outline: 0px;
}



.heroSearchIcon {
    width: 16px !important;
    height: 16px;
    margin-right: 8px;
    margin-bottom: 1px;
}

@media (max-width: 992px) {

    .heroInput,
    .heroInputDrop {
        width: 280px;
        height: 50px;
        padding: 13px 0px 12px 22px;
    }

    .heroInputDrop {
        width: auto;
    }
}


@media (max-width: 767px) {

    .heroInput,
    .heroInputDrop {
        width: 210px;
        height: 45px;
    }

    .heroInputDrop {
        width: auto;
    }

    .heroInputBtn {
        padding: 13px 16px;
        font-size: 12px;
    }

}