.inputDiv {
  display: flex;
  flex-direction: column;
}

.lable {
  color: var(--white-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 6px;
}

.input {
  background: transparent;
  border: 1px solid var(--border-light-grey1-color);
  color: var(--border-light-grey1-color);
  padding: 10px 14px;
  font-size: 14px;
  outline: none;
}

.input::placeholder {
  color: var(--text-grey3-color);
  font-size: 16px;
}