.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-size: 19px;
  padding: 6px 30px 8px;
  height: 37.182px;
  border-radius: 10px;
  color: var(--yellow1-color);
  border: 1px solid var(--yellow1-color);
}