.button {
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  background: var(--yellow1-color);
  border: none;
  font-weight: 600;
  font-size: 14px;
}



@media (max-width: 767px) {
  .button {
    margin-top: 20px;
    margin-right: 5px;
    background: var(--yellow1-color);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    padding: 13px;
    border-radius: 10px;
    width: 100%;
  }
}