.card {
  width: 305px;
  border-radius: 10px;
  background: var(--bg-grey-color);
  color: var(--white-color);
  box-shadow: 0px 0px 12px 1px var(-box-shadow1-color);
  position: relative;
}

.tag {
  background-color: var(--yellow2-color);
  font-weight: 700;
  font-size: 12px;
  color: var(--text-greydark-color);
  border-radius: 4px;
  padding: 7px 14px;
  position: absolute;
  z-index: 10;
  top: 16px;
  left: 16px;
}

.favourties {
  position: absolute;
  z-index: 10;
  top: 16px;
  right: 16px;
}

.cardContent {
  padding: 15px 12px 20px;
}

.heading {
  font-size: 18px;
  font-weight: 700;
}

.subHeading {
  font-size: 14px;
  font-weight: 500;
  width: 259px;
}

.locationPrice {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.locationDiv {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-right: 14px;
}

.price {
  color: var(--yellow1-color);
  font-size: 16px;
  font-weight: 700;
}

.eyeIcon {
  margin: 0 6px 0 13px;
}

.routesLink{
  text-decoration: none;
}
.routesLink:hover{
  text-decoration: none;
}