.summary {
  display: flex;

  align-items: center;
  color: var(--white-color);
  gap: 20px;
  font-size: 24px;
  font-weight: 700;
}

.location {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 400;
  margin-top: 6px;
}