.featureTitle {
  color: #FFF;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 24px;
}

.cardContainer {
  overflow-x: scroll;
  display: flex;
  justify-content: space-between;
}

.cardContainer::-webkit-scrollbar {
  width: 0.5em;
  background-color: transparent;
}

.cardContainer::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.cardContainer>*:not(:last-child) {
  margin-right: 20px;
}