.content {
  margin: 186px auto 350px 22%;
  width: 50%;
}

@media (max-width: 767px) {
  .content {
    margin: 150px auto 61px 8%;
    width: 80%;
  }
}

@media (max-width: 375px) {
  .content {
    margin: 120px auto 50px auto;
    width: 90%;
  }
}

.profileHeading {
  color: var(--white-color);
  font-size: 32.862px;
  font-weight: 500;
  line-height: 49.292px;
  letter-spacing: -0.685px;
  margin-bottom: 40px;
}


.profileImgNameMainCon {
  width: 50%;
  margin: auto;
  position: relative;
}

.profileImgNameMainCon>*:not(:last-child) {
  margin-bottom: 16px;
}

.notifiBgImgCon {
  float: right;
  height: 100px;
  width: 400px;
  overflow-y: hidden;
  position: relative;
  z-index: -1;
}

.Link, .Link:hover{
  text-decoration: none;
}

.Link button{
  margin-bottom: 20px;
}
.notifiBgImg {
  position: absolute;
  right: 0px;
}

@media (max-width: 992px) {
  .profileImgNameMainCon {
    width: 65%;
  }

}

@media (max-width: 767px) {
  .profileImgNameMainCon {
    width: 75%;
  }

}

@media (max-width: 576px) {
  .profileHeading {
    font-size: 27.862px;

  }

  .profileImgNameMainCon {
    width: 85%;
  }
}

@media (max-width: 375px) {
  .profileImgNameMainCon {
    width: 100%;
  }
}