.navMain {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}


.navCon {
    display: flex;
}

.logo {
    width: 196px;
    height: 65px;
}

.navBtn {
    display: none;
}

.bar {
    height: 3px;
    width: 28px;
    background-color: white;
    margin-bottom: 5px;
    border-radius: 20px;
}

.navItem a {
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    font-family: Nunito;
    text-decoration: none;
}

.navItem:not(:last-child) {
    margin-right: 40px;

}

.navItem a:hover {
    color: white;
}

.navItemSubMain {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}

.activeNavItem {
    position: relative;
}

.activeNavItem:after {
    content: '';
    position: absolute;
    width: 18px;
    display: block;
    height: 2px;
    background-color: var(--yellow1-color);
    bottom: -8px;
}

.navImg{
    margin-left: 11px;
}

.navIcon{
    margin-left: 48px;
    position: relative;
}

.listingFilterMain{
    width: 232px;
    height: 330px;
    position: absolute;
    top: 80px;
    right: 100px;
    z-index: 2;
}

.headerDropList ul {
    padding-left: 0px !important;
}



.headerDropList ul li{
    color: var(--white-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    list-style: none;
    padding: 12px 15px;
    background-color: var(--bg-grey-color);
    width: 100%;
    cursor: pointer;
}

.headerDropList ul li:last-child {
    border-bottom: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.headerDropList ul li:hover{
    background-color: #494949;
}

.navDropIcon{
    margin: 0px 22px 0px 10px;
    width: 32px;
    height: 32px;
}

@media (max-width: 1200px) {
    .navItem:not(:last-child) {
    margin-right: 25px;

}
}

@media (max-width: 992px) {
    .logo {
        width: 110px;
    }

    .navItem:not(:last-child) {
    margin-right: 15px;

}
    .navIcon{
    margin-left: 8px;
}

.listingFilterMain{
    right: 100px;
    width: 200px;
    height: 300px;
}

}

@media (max-width: 767px) {
    .logo {
        width: 145px;
    }

    .navBtn {
        display: block;
        border: 0px !important;
        background-color: transparent;
        float: right;
        margin-top: 15px;

    }

    .navItemSubMain {
        flex-direction: column;
    }

    .navItem {
        font-size: 16px;
        font-weight: 500;
        margin-top: 20px;
        margin-right: 5px;
        background: var(--bg-grey2-color);
        -webkit-backdrop-filter: blur(12px);
        backdrop-filter: blur(12px);
        padding: 13px;
        border-radius: 10px;
        width: 50%;
        text-align: center;
    }

    .navItemMain {
        position: absolute;
        background-color: black;
        top: 80px;
        left: 0px;
        width: 100vw;
        text-align: center;
        padding-bottom: 30px;
        z-index: 22;
    }

    .activeNavItem:after {

        width: 100%;
        bottom: -12px;
    }


    .navImg{
        width: 30px;
        height: 30px;
    }

    .listingFilterMain{
    top: auto;
    right: 50%;
    transform: translate(50%);
    width: 200px;
    height: 300px;
    bottom: -280px;
}

.headerDropList ul li{
    text-align: left;
}


.navProfileMain{
    width: 100%;
}

.navProfileCon{
    display: flex;
    justify-content: center;
}
}

@media (max-width: 375px) {
        .navImg{
        width: 23px;
        height: 23px;
    }

    .navImg{
    margin-left: 4px;
}

.navIcon{
    margin-left: 2px;
}

    .listingFilterMain{

    width: 170px;
    height: 300px;
}

.navDropIcon{
    margin: 0px 10px 0px 0px;
    width: 22px;
    height: 22px;
}
}