* {
  font-family: 'Nunito', sans-serif;
}

.app {
  padding: 0px;
  margin: 0px;
  height: 100vh;
  background-color: var(--bg-dark-color);
}

/* COLORS */

:root {
  --bg-dark-color: #121212;
  --bg-grey-color: #282828;
  --bg-grey1-color: #12121266;
  --bg-grey2-color: rgba(58, 58, 58, .22);
  --bg-grey3-color: rgba(18, 18, 18, 0.20);
  --bg-grey3-dark-color: rgba(18, 18, 18, 0.90);

  --yellow1-color: #FFAE1B;
  --yellow2-color: #FFCE32;
  --yellow3-color: #F18805;

  --white-color: #fff;
  --text-grey1-color: #EDEFF6;
  --text-grey2-color: #C8C8C8;
  --text-greylite-color: #8B8B8B;
  --text-greydark-color: #002F34;

  --box-shadow1-color: rgba(0, 0, 0, 0.12);

}