* {
  font-family: 'Nunito', sans-serif;
}

.app {
  padding: 0px;
  margin: 0px;
  height: 100vh;
}

/* COLORS */

:root {
  --bg-dark-color: #121212;
  --bg-grey-color: #282828;
  --bg-grey1-color: #12121266;
  --bg-grey2-color: rgba(58, 58, 58, .22);
  --bg-grey3-color: rgba(18, 18, 18, 0.20);
  --bg-grey3-dark-color: rgba(18, 18, 18, 0.90);

  --yellow1-color: #FFAE1B;
  --yellow2-color: #FFCE32;
  --yellow3-color: #F18805;
  --grey-lite1: #6D737A;

  --white-color: #fff;
  --text-grey1-color: #EDEFF6;
  --text-grey2-color: #C8C8C8;
  --text-grey3-color: #667085;
  --text-grey4-color: #989898;
  --text-greylite-color: #8B8B8B;
  --text-greylite1-color: #949494;
  --text-greydark-color: #002F34;

  --box-shadow1-color: rgba(0, 0, 0, 0.12);

  --border-light-grey1-color: #D0D5DD;
  --border-dark-yellow1-color: #FD7E14;

}