body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-dark-color) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.carousel-indicators .active {
  background-color: var(--yellow1-color) !important;
  border: 0px !important;
  height: 20px;
}

/* Add a line under the months */
.rmdp-calendar {
  padding: 12px 30px  24px !important;
  border: 0px !important;
  width: 100%;
}

.rmdp-header-values{
  color: white !important;
  margin-bottom: 18px !important;
}

.rmdp-header {
  font-weight: 700  !important;
  font-size: 20px !important;
  line-height: 30px !important;
  border-bottom: 1px solid #F5F5F5 !important;
}
.rmdp-day span, .rmdp-week-day{
  height: 30px !important; 
  width: 30px !important;
  color: #BDBDBD !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 24px !important;
}



.rmdp-wrapper{
  box-shadow: none!important;
  background-color: transparent !important;
  width: 100% !important;
}


.rmdp-arrow {
    border: solid #E1E4E8 !important;
    border-width: 0px 2px 2px 0px !important;
    margin-top: 0px !important;
    width: 5.077px !important;
    height: 5.462px !important;

}


.rmdp-day-picker div{
  width: 100% !important;
}


/* rmdp-day rmdp-today rmdp-range */
.rmdp-week{
  margin-bottom: 10px !important;
}

.rmdp-day.rmdp-today span{
  background-color: var(--yellow1-color) !important;
  color: white !important;
}

.rmdp-today{
  background-color: transparent !important;
  box-shadow: none !important;
}

.rmdp-day span{
    font-size: 16px !important;
    left: 0px !important;
    position: absolute !important;
    top: 0px !important;
}

.rmdp-range {
    background-color: #0074d9;
    box-shadow: 0 0 3px #8798ad;
    color: #fff;
}
 
.rmdp-range{
background: #848381 !important;
box-shadow: none !important;
}

.rmdp-day, .rmdp-week-day {
  height: 30px !important;
  width: 30px !important;
}

.rmdp-range:hover{
background: #848381 !important;
box-shadow: none !important;
}

.rmdp-range:first-child {
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}

.rmdp-range:last-child {
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}


.rmdp-range-hover.start, .rmdp-range.start{
    border-bottom-left-radius: 20px !important;
    border-top-left-radius: 20px !important;

}


.rmdp-range-hover.end, .rmdp-range.end{
    border-bottom-right-radius: 20px !important;
    border-top-right-radius: 20px !important;
}

.rmdp-range.start span, .rmdp-range.end span{
      background-color: var(--yellow1-color) !important;
      color: var(--white-color) !important;
}


/* listing preview slider */
.carousel-status {
    position: absolute !important;
    top: auto !important;
    bottom: 21px !important;
    right: 44% !important;
    text-shadow: none !important;
    font-size: 29px !important;
    font-weight: 500 !important;
}

.carousel .control-arrow, .carousel.carousel-slider .control-arrow{
  background: #282828 !important;
  width: 59px !important;
  opacity: 1 !important;
}

.carousel.carousel-slider .control-arrow:hover{
  background: #282828 !important;
  opacity: 1 !important;

}

/* .carousel .control-disabled.control-arrow{
  display: block !important;
} */


.thumbs-wrapper button {
  display: none !important;
}
/* 
.carousel .control-prev.control-arrow{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.carousel .control-next.control-arrow{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
} */
.thumbs-wrapper .control-disabled.control-arrow{
  display: none !important;
}

.thumbs-wrapper {
  width: 90%;
  overflow-x: scroll !important;
}

.thumbs-wrapper::-webkit-scrollbar{
  display: none;
}


.thumb{
  width: 102.582px !important;
  height: 80px !important;
  border: none !important;
  margin-right: 30px !important;
}

.thumb:hover{
  border: none !important;
}

.carousel .control-dots .dot{
  margin: 0px 4px !important;
}


@media (max-width: 767px) {
  .carousel-status {
    bottom: 5px !important;
    right: 43% !important;
    font-size: 24px !important;
}

.carousel .control-arrow, .carousel.carousel-slider .control-arrow{
  width: 49px !important;
}

.thumb{
  margin-right: 20px !important;
}
}

@media (max-width: 576px) {
  .carousel-status {

    font-size: 22px !important;
}

.carousel .control-arrow, .carousel.carousel-slider .control-arrow{
  width: 45px !important;
}

.thumb{
  width: 90.582px !important;
  height: 70px !important;
  margin-right: 17px !important;
}

.rmdp-calendar {
  padding: 12px 20px  24px !important;
}

.rmdp-header {
  font-size: 18px !important;
}

.rmdp-day span, .rmdp-week-day{
  font-size: 14px !important;
}
}

@media (max-width: 450px) {
  .carousel-status {

    font-size: 15px !important;
}

.carousel .control-arrow, .carousel.carousel-slider .control-arrow{
  width: 30px !important;
}

.thumb{
  width: 80.582px !important;
  height: 60px !important;
  margin-right: 12px !important;
}

.rmdp-calendar {
  padding: 12px 15px  24px !important;
}
.rmdp-header {
  font-size: 16px !important;
}

.rmdp-day span, .rmdp-week-day{
  font-size: 12px !important;
}

.rmdp-day, .rmdp-week-day {
  height: 27px !important;
  width: 27px !important;
}


.rmdp-range.start span, .rmdp-range.end span, .rmdp-day.rmdp-today span{
    height: 27px !important;
  width: 27px !important;
}
}