.profileMain {
  width: 72%;
  margin: auto;
}

.profileHeading {
  color: var(--white-color);
  font-size: 32.862px;
  font-weight: 500;
  line-height: 49.292px;
  letter-spacing: -0.685px;
  margin-bottom: 40px;
}

.subHeading {
  margin-top: 12px;
  font-size: 20px;
  font-weight: 500;
  color: var(--text-grey10-color);
}

.profileImgNameMainCon {
  width: 50%;
  margin: auto;
  position: relative;
}

.profileImgNameMainCon>*:not(:last-child) {
  margin-bottom: 16px;
}

.submitButton {
  margin-top: 145px;
  text-align: center;
}

@media (max-width: 992px) {
  .profileImgNameMainCon {
    width: 65%;
  }

}

@media (max-width: 767px) {
  .profileImgNameMainCon {
    width: 75%;
  }

}

@media (max-width: 576px) {
  .profileHeading {
    font-size: 27.862px;

  }

  .profileImgNameMainCon {
    width: 85%;
  }
}

@media (max-width: 375px) {
  .profileImgNameMainCon {
    width: 100%;
  }
}